*{
    box-sizing: border-box;
}

:root{
    --cinza: #292828;
    --branco: #FFFFFD;
    --amarelo: #EFB321;
    --preto: #000000;
}

html, body {
    height: 100%;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza);
    color: var(--branco);
    height: 60px;
    padding: 4px;
}

.titulo{
    font-size: 20px;
    margin: 0;
}

main{
    height: calc(100% - (100px));
    background-color: var(--amarelo);
}

form{
    padding: 60px;
}

.cadastro{
    border-color: var(--cinza);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

legend{
    font-weight: bold;
    font-size: 20px;
    color: var(--cinza);
}

label{
    color: var(--cinza);
    font-size: 16px;
    font-weight: bold;
}

input{
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    width: 50%;
}

button{
    color: var(--amarelo);
    font-weight: bold;
    background-color: var(--preto);
    border: none;
    border-radius: 4px;
    width: 20%;
    height: 40px;
    transition: 0.5s;
}
button:hover{
    background-color: var(--cinza);
}

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    color: var(--cinza);
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 40px;
}